@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48pt;
  font-weight: 500;
}
h2 {
  font-family: "Oswald", sans-serif;
  font-size: 26pt;
  font-weight: 400;
}
p {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 20pt;
}

.menu-main a {
  color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 14pt;
  font-weight: 400;
}
